.merchant-view {
  // .merchant-nav {
  //   background-color: white;
  //   padding: 16px 0;
  //   top: 0;
  //   z-index: 200;
  //   width: 100%;
  //   max-width: 750px;
  //   left: 50%;
  //   margin-left: -50%;
  //   p {
  //     font-size: 18px;
  //     color: #333;
  //   }
  // }
  .tabs-service {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    ul {
      display: flex;
      li {
        font-size: 16px;
        color: #999;
        margin-right: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      li::after {
        content: "";
        display: none;
        width: 22px;
        height: 3px;
        border-radius: 2px;
        margin-top: 5px;
        background: linear-gradient(270deg, #ffffff 0%, #7355fe 100%);
      }
      .active-tab {
        color: #333;
      }
      .active-tab::after {
        display: inline-block;
      }
    }
  }
  .filter-box {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f4ff;
    border-radius: 4px;
    .filter-public {
      .iconfont {
        font-size: 13px;
        color: #666;
      }
    }
  }
  .tabs-mine {
    position: sticky;
    .adm-tabs-header {
      background-color: white;
      position: fixed;
      top: 70px;
      width: 100%;
      max-width: 750px;
      left: 50%;
      margin-left: -50%;
    }
    .adm-tabs-content {
      padding: 16px 12px;
      padding-top: 40px;
    }
    .adm-list-body {
      background-color: rgba(0, 0, 0, 0);
      border: 0;
    }
    .list-public {
      .adm-center-popup-body {
        padding-top: 0;
      }
      .adm-dialog-content {
        padding: 12px;
        .detail-content {
          position: relative;
          text-align: center;
          .close-icon {
            font-size: 12px;
            font-weight: bold;
            color: #666;
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            padding-right: 4px;
            padding-top: 2px;
            top: -18px;
            right: -18px;
            background-color: #f8f8f8;
            border-radius: 50%;
          }
          .coin-msg {
            display: flex;
            align-items: center;
            text-align: left;
            img {
              width: 40px;
              height: 40px;
              margin-right: 8px;
            }
            .coin-name {
              margin-top: 4px;
              font-size: 16px;
              font-weight: 500;
              color: #333;
              .coin {
                height: 20px;
                padding: 0 4px;
                display: inline-block;
                background-color: rgba(99, 67, 252, 0.1);
                margin-left: 4px;
                font-size: 12px;
                font-weight: bold;
                line-height: 20px;
                color: #6343fc;
              }
              .order-status {
                display: inline-block;
                height: 18px;
                padding: 0 4px;
                border-radius: 2px;
                margin-left: 8px;
                font-size: 12px;
                font-weight: 500;
              }
              .withdraw-pending {
                background-color: rgba(255, 128, 0, 0.12);
                color: #ff9a00;
              }
              .withdraw-reject {
                background-color: rgba(240, 85, 76, 0.12);
                color: #f0554c;
              }
              .withdraw-done {
                background-color: rgba(27, 162, 122, 0.12);
                color: #1ba27a;
              }
            }
            .order-date {
              font-size: 12px;
              color: #999;
              text-align: left;
            }
          }
          ul {
            margin-top: 16px;
            padding: 10px 8px;
            background-color: #f9f9f9;
            border-radius: 4px;
            li {
              display: flex;
              justify-content: space-between;
              margin-bottom: 10px;
              align-items: center;
              padding: 0;
              box-shadow: none;
              background-color: rgba(0, 0, 0, 0);
              p {
                font-size: 12px;
              }
              p:first-child {
                width: 48px;
                margin-right: 22px;
                text-align: left;
                color: #666;
              }
              p:nth-child(2) {
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
                color: #999;
              }
              .iconfont {
                margin-left: 12px;
                font-size: 13px;
                color: #999;
              }
              .strong-text {
                font-size: 16px;
                font-weight: 500;
                color: #613FFD !important;
              }
            }
            li:last-child {
              margin-bottom: 0;
            }
          }
          .view-outside {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
            padding-top: 10px;
            border-top: 1px solid #f8f8f8;
            button {
              height: 28px;
              background-color: #613ffd;
              font-size: 12px;
              color: white;
              padding: 0 16px;
              margin-left: 12px;
            }
            .reject-btn {
              background-color: rgba(0, 0, 0, 0);
              color: #613ffd;
              border: 1px solid rgba(97, 63, 253, 0.5);
            }
          }
        }
      }
      ul {
        padding: 12px;
        li {
          padding: 12px;
          background-color: white;
          border-radius: 4px;
          margin-bottom: 12px;
          box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.08);
          .coin-msg {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .img-text {
              display: flex;
              img {
                width: 36px;
                height: 36px;
              }
              .msg-text {
                text-align: left;
                margin-left: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 4px;
                p:first-child {
                  font-size: 14px;
                  color: #333;
                  font-weight: 500;
                  span {
                    font-size: 12px;
                    color: #6343fc;
                    padding: 2px 6px;
                    background-color: rgba(99, 67, 253, 0.06);
                    border-radius: 4px;
                  }
                }
                p:last-child {
                  font-size: 12px;
                  color: 12px;
                  color: #999;
                  margin-top: 4px;
                }
              }
            }
            .fee-msg {
              text-align: right;
              p {
                font-size: 12px;
                color: #999;
              }
              p:last-child {
                margin-top: 4px;
              }
            }
          }
          .pay-msg {
            margin-top: 18px;
            display: flex;
            border-bottom: 1px solid #eee;
            padding-bottom: 8px;
            .msg-public {
              text-align: left;
              p {
                font-size: 12px;
                color: #666;
                white-space: nowrap;
                .strong-text {
                  font-size: 18px;
                  font-weight: 500;
                  color: #6343fc;
                }
                .iconfont {
                  color: #666;
                  font-size: 13px;
                  display: inline-block;
                  margin-left: 8px;
                  transform: translateY(-1px);
                }
              }
              p:nth-child(2) {
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-top: 3px;
              }
            }
            .need-hidden {
              width: 55%;
              p:nth-child(2) {
                margin-top: 7px;
                color: #999;
                width: 90%;
              }
              .iconfont {
                font-size: 12px;
                display: inline-block;
                transform: translateY(-2px);
              }
              .need-inner {
                display: flex;
                width: 100%;
                p {
                  margin-top: 0;
                }
                p:first-child {
                  min-width: 48px;
                  margin-right: 14px;
                }
              }
              .need-inner:last-child {
                margin-top: 6px;
              }
            }
            .msg-public:last-child {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: flex-end;
            }
          }
          .oper-box {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            button {
              margin-top: 12px;
              margin-left: 12px;
              font-size: 12px;
              padding: 4px 10px;
              border: 0;
              border-radius: 4px;
              background-color: rgba(0, 0, 0, 0);
            }
            .reject-btn {
              border: 1px solid #613ffd;
              color: #613ffd;
            }
            .primary-btn {
              background-color: #613ffd;
              color: white;
            }
            .done-btn {
              background-color: #eeeeee;
              color: #999999;
            }
          }
        }
      }
    }
    .withdraw-list {
      .adm-center-popup-body {
        padding-top: 0;
      }

      .adm-dialog-content {
        padding: 12px;
        .hash-content {
          .oper-title {
            font-size: 14px;
            color: #333;
            position: relative;
            width: 100%;
            height: 14px;
            .iconfont {
              position: absolute;
              right: 0;
              top: 0;
              font-size: 14px;
            }
          }
          .inp-box {
            width: 100%;
            height: 36px;
            background-color: #f9f9f9;
            border-radius: 5px;
            display: flex;
            margin-top: 15px;
            input {
              flex: 1;
              background-color: rgba(0, 0, 0, 0);
              padding-left: 10px;
              font-size: 12px;
            }
          }
          .oper-btn {
            margin-top: 12px;
            display: flex;
            justify-content: flex-end;
            button {
              margin-left: 12px;
              padding: 5px 18px;
              font-size: 12px;
            }
            .default-btn {
              border: 1px solid #eee;
              background-color: rgba(0, 0, 0, 0);
              color: #999;
            }
            .confirm-btn {
              background-color: #613ffd;
              color: white;
            }
          }
          .reject-remark {
            margin-top: 22px;
            text-align: left;
            padding: 0 14px;
            padding-bottom: 6px;
            font-size: 12px;
            color: #666;
          }
        }
      }
    }
    .deposit-list {
      ul {
        li {
          .coin-msg {
            .fee-msg {
              p {
                color: #666;
              }
            }
          }
        }
      }
    }
  }
}
